<head>
    <link rel="stylesheet" href="output.css">
    <title>Librarian Login Page</title>
</head>
<body>
<h1>List of Books Available in Storage</h1>
<br><br>
<table border="1" id="books">
    <tr>
        <th>id</th>
        <th>Name of the Book</th>
        <th>Author</th>
        <th>Action</th>
    </tr>
    <%  books.forEach( (book) => { %>
        <tr>
            <td>
                <%= book.id %>
            </td>
            <td>
                <%= book.book_name %>
            </td>
            <td>
                <%= book.author %>
            </td>
            <td>
                <a href="borrow/<%= book.id %>"><button>Borrow</button></a>
            </td>
        </tr>
        <% }) %>
</table>
</body>