<head>
    <link rel="stylesheet" href="output.css">
</head>

<body>
    <div class="home-ctn">
    <h1>I am a:</h1>
    <a href="/login"><button>Student</button></a>
    <a href="/liblogin"><button>Librarian</button></a>
    </div>
</body>