<head>
    <link rel="stylesheet" href="output.css">
    <title>Librarian Login Page</title>
</head>
<section class="login-ctn">
    <div
        class="login">
        <h1>Librarian Login</h1>
        <form action="/liblogin" method="post">
            <%# if (message.error) { %>
                <span>
                    <%# message %>
                </span>
                <%# } %>
                    <div>
                        <label for="name">Teacher Id</label>
                        <input type="text" id="name" name="id" required>
                    </div>
                    <br>
                    <!-- <div>
    <label for="email" class="text-slate-800 ml-9 ">Email</label>
    <input type="email" id="email" name="email" class="m-4 rounded invalid:border-pink-500" required>
</div> -->
                    <div>
                        <label for="password" class="text-slate-800">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <br>

                    </div>
                    <button type="submit">Login</button>
                    <!-- <button><a href="/register">Register</a></button> -->
        </form>
    </div>
</section>